@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.drop-down-menu {
  box-sizing: border-box;
  
  position: relative;
  width: 1256px;
  height: 340px;
  
  border: 1px dashed #9747FF;
  border-radius: 5px;
  }

  .leaflet-container {
    background: #edfff8 !important;
  }

  svg:focus {
    outline: none;
  }

  #toMarker {
    filter: hue-rotate(145deg);
  }